modules = ["c-clang14", "cpp-clang14"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 19276815
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gcc file_reader.c -o file_reader && ./file_reader"
